{
  "parser": "babel-eslint",
  "extends": [
    "airbnb-base",
    "plugin:react/recommended",
    "plugin:flowtype/recommended",
    "plugin:prettier/recommended",
    "prettier/flowtype"
  ],
  "plugins": [
    "react",
    "flowtype"
  ],
  "env": {
    "node": true,
    "jest": true
  },
  "rules": {
    "react/jsx-uses-vars": "error"
  }
}
